html {
	background-color: black;
}
header {
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
header h1 {
	display: flex;
	justify-content: center;
	
}